html, body {
    font-size: 16px;
    min-height: 100%;
    height: auto;
}

header {
    background: #ff7ea0;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
}
.content{
    position: relative;
    margin-top: 50px;
    padding-bottom: 30px;
}

header .headTo {
   /* display: flex;
    justify-content: center;
    align-items: center;*/
    padding: 10px 0;
}
.headTo .isearchs {
    height: 30px;
    border-radius: 25px;
    padding: 0;
    float: right;
    text-align: center;
    line-height: 30px;
    color: #fff;
}
.headTo .del{
    background: url("../../images/music/icon/musict.png") center center no-repeat;
    background-size: contain;
}
.headTo input {
    vertical-align: middle;
    box-shadow: inset 0 0 1px #fff;
    border: 0;
    height: 30px;
    outline: none;
    background: transparent;
    border-radius: 25px;
}
.searchs input{
    width: 100%;
}
.headTo .music {
    display: block;
    height: 28px;
    background: url("../../images/music/icon/music.png") center center no-repeat;
    background-size: contain;
}
.headTo .searchs {
    float: right;
    height: 30px;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 0.5em;
    background: url("../../images/music/icon/searchs.png") 10px center no-repeat #fff;
    background-size: 15px;
}

.tab {
    height: auto;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #E4E8EA
}

.tab li {
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 0;
}

.tab li a {
    color: #333333;
    padding: 10px 0 6px 0;
    display: inline-block
}

.tab .active {
    border-bottom: 2px solid #ff7ea0
}







.tablist li{
    height: 60px;
    padding: 5px 30px;
    text-align: left;
    border-bottom: 1px solid #eaeff1;
    line-height: 15px;
}
.tablist li a{
    display: block;
}
.tablist li span{
    font-size: 12px;
}


.pagination {
    position: absolute;
    z-index: 20;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #fff;
    margin: 0 5px;
    opacity: 0.8;
    cursor: pointer;
}

.swiper-active-switch {
    background: red;
}

.banner-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden
}

@media screen and (max-width: 321px) {
    .banner-container {
        height: 147px;
    }
}

.lines_main {
    padding: 12px 0;
    border-bottom: 1px solid #E4E8EA;
}

.lines_main section {
    padding: 0;
    text-align: center;
    font-family: "微软雅黑";
}

.lines_main .cocie {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid #ff7ea0;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    color: #ff7ea0;
    font-size: 24px;
    font-family: "Helvetica Neue";
}

.cocie img {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-left: 12px;
}

.lines_main p {
    margin-top: 5px;
    font-size: 13px;
}

.line_g {
    padding: 20px 0.4375rem;
}

.line_g .tjgd {
    display: block;
    background: url("../../images/music/tjgd.png") 0 3px no-repeat;
    background-size: 20px 20px;
    padding-left: 30px;
    height: 24px;
    line-height: 24px;
    margin-bottom: 12px;
}

.line_g label {
    float: right;
    background: url("../../images/music/more.png") right 2px no-repeat;
    background-size: 20px;
    font-size: 16px;
    width: 50px;
    color: #666;
}

.listdata, .listdata ul {
    position: relative;
    overflow: hidden;
    padding: 0 0.3375rem;
}

.listdata ul {
    margin-bottom: 20px !important;
}

.listdata li {
    padding-left: 0.2375rem;
    padding-right: 0.2375rem;
    position: relative;
    overflow: hidden;
}

.listdata li img {
    width: 100%;
}

.listdata li p {
    font-size: 0.8em;
    line-height: 1.2;
    display: inline-block;

}

.listdata li .num {
    width: 100%;
    padding: 0.1rem 0.4375rem;
    box-sizing: border-box;
    font-size: 0.8em;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
}

.listdata li .num span {
    background: url("../../images/music/erji.png") 0px 2px no-repeat;
    background-size: contain;
    font-size: 16px;
    width: 1em;
    display: inline-block;
    height: 0.8em;
}

.footer {
    text-align: center;
    padding: 4px 0;
    width: 100%;
    background: #383838;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    left: 0;
    z-index: 1000
}

.footer li {
    font-size: 0.7em;
}

.footer img {
    display: block;
    margin: 3px auto;
    width: 20px;

}

/* 播放器 */
.play {
    width: 100%;
    min-height: 100%;
    height: auto;
    padding-bottom: 100px;
    position: relative;
/*    background: url("../../images/music/bg.jpg") 0 0 no-repeat;*/
    background-size: 100% 100%;
    color: #fff;
}

.playTop {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.playTop .back {
    background: url("../../images/music/back.png") center center no-repeat;
    position: relative;
    background-size: contain;
    height: 35px;
    margin-top: 8px;
    display: block;
}

.playTop .share {
    background: url("../../images/music/share.png") center center no-repeat;
    position: relative;
    background-size: contain;
    height: 35px;
    margin-top: 8px;
}

.playTop .play_title {
    text-align: center;
    height: 38px;
    margin-top: 6px;
}

.playTop .play_title p, .play_title label {
    line-height: 1.4
}

.play_title label {
    font-size: 0.775rem;
    color: #fff;
}

.rotate {
    margin-top: 58px;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    box-sizing: border-box;
    border: 12px solid rgba(181, 181, 181, 0.2);
}

.mlist {
    background: url("../../images/music/singlecover.png") center center no-repeat;
    background-size: cover;
    width: 235px;
    height: 235px;
    position: relative;
    left: -5px;
    top: -5px;
    overflow: hidden;
}

.rotate_tx {
    width: 150px;
    height: 150px;
    margin: 43px auto;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
}
.rotate_tx_true{
    animation: mymove 10s linear  infinite;
    -webkit-animation: mymove 10s linear  infinite; /* Safari and Chrome */
}
.rotate_tx_false{
    animation: mymove 10s linear  infinite;
    -webkit-animation: mymove 10s linear  infinite; /* Safari and Chrome */
    animation-play-state:paused;
    -webkit-animation-play-state:paused; /* Safari 和 Chrome */
}

.rotate_tx img {
    width: 100%;
    height: 100%;
    vertical-align: middle
}
.play .rang{
    margin-top: 10px;
    font-size: 12px;
}
.rang .columns{
    padding-left: 0rem;
    padding-right: 0rem;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.n_r{
    width: 100%;
    height: 2px;
    border-radius: 1px;
    -webkit-appearance: none;
    outline: none;
    margin-top: -1px;
    vertical-align: middle;
}
.n_r::-webkit-slider-thumb {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    -webkit-appearance: none;
    background:  #fff;
    border: 0;
}
.m_bottom{
    width: 100%;
    position: absolute;
    bottom: 25px;
}
.u_down{
    margin-top: 25px;
}
.u_down .columns{
    width: 20%;
    padding: 0;
    text-align: center;
}
.u_down .m_for{
    margin: 10px auto 0;
    background: url("../../images/music/m_for.png") center center no-repeat;
    width: 30px;
    height: 30px;
    background-size: contain;
}
.u_down .up{
    margin: 10px auto 0;
    background: url("../../images/music/up.png") center center no-repeat;
    width: 30px;
    height: 30px;
    background-size: contain;
}
.u_down .m_play{
    margin: 0 auto;
    width: 50px;
    height: 50px;
}
.u_down .m_play_play{
     background: url("../../images/music/play.png") center center no-repeat;
    background-size: contain;
 }
.u_down .m_play_pause{
    background: url("../../images/music/pause.png") center center no-repeat;
    background-size: contain;
}
.u_down .m_pause{
    margin: 0 auto;
    background: url("../../images/music/pause.png") center center no-repeat;
    width: 50px;
    height: 50px;
    background-size: contain;
}
.u_down .down{
    margin: 10px auto 0;
    background: url("../../images/music/down.png") center center no-repeat;
    width: 30px;
    height: 30px;
    background-size: contain;
}
.u_down .m_list{
    margin: 10px auto 0;
    background: url("../../images/music/m_list.png") center center no-repeat;
    width: 30px;
    height: 30px;
    background-size: contain;
}
@keyframes mymove {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes mymove {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
