<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="container" ng-app="container">
    <div class="top">
      <div class="top_w">
        <div class="top_left">
          <ul>
            <li><a href="">小米网</a></li>
            <li><a href="">MIUI</a></li>
            <li><a href="">米聊</a></li>
            <li><a href="">游戏</a></li>
            <li><a href="">多看阅读</a></li>
            <li><a href="">云服务</a></li>
            <li><a href="">小米网移动版</a></li>
            <li><a href="">问题反馈</a></li>
            <li><a href="" class="last">SelectRegion</a></li>
          </ul>
        </div>
        <div class="top_right"  ng-controller="cart">
          <div class="cart" ng-class="{'ocart':carts }" ng-mouseover="overCart()" ng-mouseleave="leaveCart()">
            购物车（<span>0</span>）
          </div>
          <div class="cart_list" ng-class="{'show':carts }"  ng-mouseover="overCart()"  ng-mouseleave="leaveCart()">
            <span ng-if="shoopList.length < 1">
              <div class="nolist">
                购物车中还没有商品，赶紧选购吧！
              </div>
            </span>
             <span ng-if="shoopList.length > 1">
                <div class="havelist">
                <!--商品列表-->
                </div>
             </span>
          </div>
          <ul class="login">
            <li><a href="">登陆</a></li>
            <li><a href="" class="last">注册</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="nav"   ng-controller="navTop">
      <div class="nav_main">
        <div class="log"></div>
        <div class="mini"></div>
        <ul class="nav_title">
          <li  ng-repeat="x in navData">{{x.title}}</li>
          <li>服务</li>
          <li>社区</li>
        </ul>
        <div class="search" ng-controller="search"  ng-class="{'focusBorder':etch}">
          <input type="text" ng-focus="searchFocus()" ng-blur="searchBlur()">
          <div class="hot_search" ng-style="{'display':isHide}">
            <a href="">小米手机4c</a>
            <a href="">平衡车</a>
          </div>
          <div class="search_btn"  ng-class="{'focusBorder':etch}"></div>
          <div class="hot_list" ng-class="{'show':etch}">
            <ul>
              <li>小米手机5<span>约有8件</span></li>
              <li>空气净化器2<span>约有1件</span></li>
              <li>小米手机<span>约有8件</span></li>
              <li>小米手表<span>约有9件</span></li>
              <li>小米相机<span>约有8件</span></li>
              <li>空气净化器2<span>约有1件</span></li>
              <li>小米手机<span>约有8件</span></li>
              <li>小米手表<span>约有9件</span></li>
              <li>小米相机<span>约有8件</span></li>
              <li>空气净化器2<span>约有1件</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="goods">
        <div class="goods_main">
          <ul ng-repeat="x in navData">
            <li  ng-repeat="y in x.datas">
              <a href="">
                <img ng-src={{y.img}} >
              </a>
              <div class="line"></div>
              <div class="xi">
                <div >{{y.name}}</div>
                <div class="price"><span>{{y.price}}</span>元起</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div ng-controller="user">
      <input type="text" ng-model="username">
      <input type="password" ng-model="password">
      <input type='file' name='fileUploaded' ng-model="file">
      <button ng-click="register()">注册</button>
      <ul>
          <li ng-repeat="x in list" on-finish-render-filters>
            <span>{{x}}</span>
            <div class="prg-cont rad-prg" id="indicatorContainer4">  </div>
          </li>
      </ul>
    </div>
  </div>
  </body>
  <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
  <script src="javascripts/controller.js"></script>
  <script src="javascripts/radialindicator.js"></script>
  <script src="javascripts/domJS.js"></script>
</html>
