<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <title></title>
</head>
<!-- css 文件 -->
<link rel="stylesheet" href="http://static.runoob.com/assets/foundation-5.5.3/foundation.min.css">

<!-- jQuery 库 -->
<script src="http://static.runoob.com/assets/jquery/2.0.3/jquery.min.js"></script>

<!-- JavaScript 文件 -->
<script src="http://static.runoob.com/assets/foundation-5.5.3/js/foundation.min.js"></script>

<!-- modernizr 文件 -->
<script src="http://static.runoob.com/assets/foundation-5.5.3/js/vendor/modernizr.js"></script>
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script src="/javascripts/global/global.js"></script>
<link rel='stylesheet' href='/stylesheets/music/init.css'/>
<link rel='stylesheet' href='/stylesheets/music/index.css'/>
<link rel='stylesheet' href='/stylesheets/music/swiper.min.css'/>
<script src="/javascripts/music/swiper.min.js"></script>
<script src="/javascripts/music/idangerous.swiper.min.js"></script>

<body ng-app="play">
<style>
    html, body {
        width: 100%;
        height: 100%;
        padding: 0;

    }

    .filter {
        position: relative;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-filter: blur(10px); /* Chrome, Opera */
        -moz-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
        z-index: 1000;
    }

    .tm {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 2000;
        background: rgba(0, 0, 0, 0.5);
    }

    .container {
        height: 100%;
    }

    .play {
        position: absolute;
        z-index: 3000;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

    }

</style>
<section class="container " ng-controller="play">
    <div class="filter" ng-style="songBacks"></div>
    <div class="tm"></div>
    <div class="play">
        <section class="row playTop">
            <section class="small-2 columns">
                <section class="back" ng-></section>
            </section>
            <section class="small-8 columns play_title">
                <p ng-bind="songName"></p>
                <label ng-bind="artistsName"></label>
            </section>
            <section class="small-2 columns">
                <section class="share"></section>
            </section>
        </section>
        <section class="row rotate">
            <section class="mlist">
                <section class="rotate_tx" ng-class="{true:'rotate_tx_true',false:'rotate_tx_false'}[off]">
                    <img ng-src="{{songBack}}">
                </section>
            </section>
        </section>
        <audio ng-src="{{songUrl}}" ng-click="playMusic()"></audio>
        <section class="m_bottom">
            <section class="row rang">
                <section class="small-2 columns" ng-bind="runDuration">00:00</section>
                <section class="small-8 columns" style="position: relative;overflow: hidden">
                    <input type="range" class="n_r" min="0" max="100" ng-change="rangeChange(runWidth)" ng-model="runWidth">
                </section>
                <section class="small-2 columns" ng-bind="duration"></section>
            </section>
            <section class="row u_down">
                <section class="small-3 columns">
                    <section class="m_for"></section>
                </section>
                <section class="small-3 columns">
                    <section class="up"></section>
                </section>
                <section class="small-3 columns">
                    <section class="m_play" ng-class="{false:'m_play_play',true:'m_play_pause'}[off]"ng-click="offButon()"></section>
                </section>
                <section class="small-3 columns">
                    <section class="down" ng-click="nextSongs()"></section>
                </section>
                <section class="small-3 columns">
                    <section class="m_list"></section>
                </section>
            </section>
        </section>
    </div>

</section>

</body>
<script>
    var container = angular.module('play', []);
    container.controller('play', function ($scope, $http, $sce, $location, $interval) {
        $scope.answer = JSON.parse(localStorage.getItem("songsMessage"));

        $scope.artistsName = $scope.answer.artists[0].name; //歌手名称
        $scope.songBack = $scope.answer.album.blurPicUrl; //默认背景*/
        $scope.songName = $scope.answer.name; //歌曲名称*/
        $scope.off = false; //默认未播放
        $scope.songUrl = $sce.trustAsResourceUrl($scope.answer.mp3Url);
        $scope.runDuration = '00:00';
        $scope.runWidth = 0;
        $scope.duration = new Date($scope.answer.duration).Format("mm:ss");
        /* 454000*/
        $scope.songBacks = {
            "background-image": 'url(' + $scope.songBack + ')',
        }
        var audio = new Audio($scope.songUrl);
        $scope.runTime = 0;
        /* 拉动快进 */
        $scope.rangeChange = function (runWidth) {
            $scope.runTime = $scope.answer.duration * (runWidth /100) ;
            audio.currentTime = ($scope.runTime/1000).toFixed(0);
        };
        /* 播放开关 */
        $scope.offButon = function () {
           $scope.off ? $scope.off = false:$scope.off = true;
            if($scope.off){
                audio.play();
                $scope.timer = setInterval(function () {
                    $scope.runTime >= $scope.answer.duration?clearInterval($scope.timer) :$scope.runTime += 1000;
                    $scope.runDuration = $scope.runTime;
                    $scope.$apply(function () {
                        $scope.runDuration = new Date($scope.runDuration).Format("mm:ss");
                    });
                    var range = (($scope.runTime / $scope.answer.duration) * 100).toFixed(0);
                    $scope.runWidth = range;
                    $scope.runValueTime = ($scope.runTime / $scope.answer.duration) * 100;
                }, 1000);
            }else {
                clearInterval($scope.timer);
                audio.pause();
            }
        };
        /* 下一首 */
        $scope.nextSongs = function () {

        };

        $scope.playShow = true;
    })

</script>
</html>