<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <title><%= title %></title>
</head>
<!-- css 文件 -->
<link rel="stylesheet" href="http://static.runoob.com/assets/foundation-5.5.3/foundation.min.css">

<!-- jQuery 库 -->
<script src="http://static.runoob.com/assets/jquery/2.0.3/jquery.min.js"></script>

<!-- JavaScript 文件 -->
<script src="http://static.runoob.com/assets/foundation-5.5.3/js/foundation.min.js"></script>

<!-- modernizr 文件 -->
<script src="http://static.runoob.com/assets/foundation-5.5.3/js/vendor/modernizr.js"></script>

<link rel='stylesheet' href='/stylesheets/music/init.css' />
<link rel='stylesheet' href='/stylesheets/music/index.css' />
<link rel='stylesheet' href='/stylesheets/music/swiper.min.css' />
<script src="/javascripts/music/swiper.min.js"></script>
<script src="/javascripts/music/idangerous.swiper.min.js"></script>
<body>
<header>
    <section class="row headTo">
        <section class="small-2 columns void"></section>
        <section class="small-8 columns search">
            <input type="search" placeholder="搜索音乐、歌词、电台">
        </section>
        <section class="small-2 columns music"></section>
    </section>
</header>

</body>

<script>
    alert(1)
</script>
</html>