<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <title><%= title %></title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
<!--    <script src="/javascripts/user/user.js"></script>-->
</head>
<!-- jQuery 库 -->
<body>
<div class="container" ng-app="login">
    <form action="/add" method="post" enctype="multipart/form-data"  ng-controller="login">
        <div class="form-group">
            <label for="title">用户名</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="请输入用户名">
        </div>
        <div class="form-group">
            <label for="artist">密码</label>
            <input type="password" class="form-control" id="singer" name="singer" placeholder="请设置密码">
        </div>
      <!--  <div class="form-group">
            <label for="music_file">音乐</label>
            <input type="file" id="music" name="music" accept="audio/*">

        </div>-->
        <div class="form-group">
            <label for="image_file">头像</label>
            <input type="file" id="poster" name="img" accept="image/*">

        </div>
        <img ng-click="getPic()" ng-src='data:image/png;base64,{{img}}'  style="width: 50px;height: 30px;display: block;">
        <button type="submit" class="btn btn-success">提交</button>
    </form>
</div>

</body>
<script>
    var login = angular.module('login', []);
    login.controller('login', function ($scope, $http, $sce, $window) {
        $scope.getPic = function(){
            $http({
                method: "POST",
                url: "/getPic",
            }).
            success(function(data, status) {
               /* $scope.$apply(function () {
                    $scope.img = data
                })*/
                $scope.img = data
            }).
            error(function(data, status) {
                debugger
            })
        };

    });
</script>
</html>