html,body,ul{padding: 0;margin: 0;font-family: "微软雅黑"}
li{list-style: none}
a{text-decoration: none;color: #b0b0b0}
.show{display: block!important;}
.hide{display: none!important;}
.container{width:100%;position: relative;margin: 0 auto}
.container .top{width: 100%;height: 40px;line-height: 40px;background: #333;min-width: 1229px}
.top_w {width: 1229px;font-size: 12px;margin: 0 auto;position: relative}
.top a:hover{color: #fff}
.top ul .last:after{content: ''}
.top ul li{float: left;}
.top ul li :after{content: '|';padding: 0 8px;color: #424242}
.top_left{float: left}
.top_right{float: right}
.top_right .login{float: right}
.top_right .cart{width: 90px;color: #b0b0b0;padding-left: 30px;cursor: pointer;
  background: url("../images/icon/cart.png") 15px 11px no-repeat #424242;background-size:18px 18px;
  float: right;text-align: center;height: 40px;margin-left: 5px}
.cart_list{display:none;width: 316px;min-height: 95px;background: #fff;position: absolute;right: 0;top: 40px;z-index: 1000;box-shadow: 0 2px 10px rgba(0,0,0,0.15); }
.top_right .ocart{ background: url("../images/icon/carts.png") 15px 11px no-repeat #fff;background-size:18px 18px;color: #ff6700}
.nolist{line-height: 95px;text-align: center}
.nav{width: 100%;padding: 15px 0;height: auto;}
.nav .nav_main{width: 1229px;margin: 0 auto;height: 85px;position: relative}
.nav .log{background: url("../images/icon/log.png") 0 0 no-repeat;width: 57px;height: 57px;margin-top: 6px;float: left}
.nav .mini{margin-left: 15px;background: url("../images/doodle0507.gif") 0 0 no-repeat;width: 163px;height: 66px;margin-top: 2px;float: left}
.nav_title{position: relative;overflow: hidden;float: left}
.nav .nav_title li{float: left;line-height: 70px;padding: 0 13px ;color: #333;cursor: pointer}
.nav .nav_title li:hover{color: #FF6700}
.nav .search{width: 295px;height: 50px;border: 1px solid #e0e0e0;float: right;margin-top: 10px}
.nav .search input{padding: 10px;height: 30px;border: 0;outline: none;line-height: 30px;position: relative}
.nav .search_btn{width: 50px;height: 50px;float: right;border-left: 1px solid #e0e0e0;background: url("../images/icon/search.png") center center no-repeat;background-size: 18px 18px;cursor: pointer}
.nav .hot_search{float: right;position: absolute;top: 0;font-size: 12px;height: 20px;margin-top: 28px;right: 50px}
.nav .hot_search a{margin-right: 10px;background: #eee;padding: 3px;color: #757575}
.nav .hot_search a:hover{color: #fff;background: #FF6700}
.nav .search_btn:hover{background:url("../images/icon/searchs.png") center center no-repeat #FF6700;background-size:18px 18px;border-color: #FF6700 }
.nav .search:hover{border: 1px solid  #ccc}
.nav .focusBorder{border-color: #FF6700!important;}
.nav .hot_list{width: 244px;height: auto;background:#fff;left:-1px;border: 1px solid #FF6700;position: relative;z-index: 50;display: none}
.nav .hot_list li{padding: 8px 13px;color: #666;font-size: 12px;cursor: pointer}
.nav .hot_list li:hover{background: #f6f6f6  }
.nav .hot_list span{display: inline-block;float: right}
.nav .goods{width: 100%;height: 0; transition: all  ease-out 0.2s;border-top: 1px solid #ddd;box-shadow: 0 3px 4px rgba(0,0,0,0.18);position: relative;overflow: hidden}
.nav .goodsShow{height: 230px; transition: all ease-out 0.2s;}
.nav .goods_main{width: 1229px;position: relative;margin: 0 auto;height: 160px;padding: 35px 0;clear: both}
.nav .goods_main li{float: left;width: 208px;height: auto;text-align: center;font-size: 13px}
.nav .goods_main li img{width: 160px;height: 110px;}
.nav .goods_main li .line {float: right;height: 100px;width: 1px;border-left:1px solid #ddd }
.nav li .xi{width: 100%;height: auto;margin-top: 13px}
.nav li .xi .price{margin-top: 5px;color: #FF6700}

