<style>
    .songTop {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    .songTop .songType {
        height: 25px;
        width: 110px;
        padding: 0 15px;
        text-align: right;
        background-image: url("/images/music/icon/song.png"), url("/images/music/icon/more.png");
        background-repeat: no-repeat, no-repeat;
        background-position: left center, right center;
        background-size: contain, 13px 13px;
    }

    .hotSearch {
        padding: 10px;
    }

    .hotSearch .hotSearchTitle {
        font-size: 12px;
        color: #aaa;
    }

    .hotSearch .hotList {
        font-size: 13px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    .hotSearch .hotList a {
        margin-left: 10px;
        border-radius: 20px;
        padding: 3px 15px;
        border: 1px solid #ccc;
        margin-top: 8px;
    }

    .localStorageList {
        padding-left: 10px;
    }

    .localStorageList a, .hotList a {
        display: block;
        color: #666;
    }

    .localStorageList .a {
        height: 45px;
        background: url("/images/music/icon/time.png") left 14px no-repeat;
        background-size: 20px 20px;
        padding-left: 28px;
        line-height: 45px;
        font-size: 16px;
        border-bottom: 1px solid #ccc;
        position: relative;
        overflow: hidden;
    }

    .localStorageList .a span {
        background: url("/images/music/icon/del.png") center center no-repeat;
        background-size: 12px 12px;
        height: 45px;
        width: 30px;
        padding: 0 20px;
        align-self: flex-end;
        display: inline-block;
        position: absolute;
        right: 0;
        z-index: 1000;
        top: 0;
    }

    .show {
        display: block !important;
    }

    .hide {
        display: none !important;
    }

    .searchChange, .localStorage {
        padding-bottom: 30px;
        display: none;
    }
</style>
<header>
    <section class="row headTo">
        <section class="small-2 columns isearchs" ui-sref="musicMain">取消</section>
        <section class="columns searchs small-9 small-ffset-1">
            <input type="search" placeholder="搜索音乐、歌词、电台" autofocus ng-model="searchName"
                   ng-change="searchSongId(searchName)">
        </section>
    </section>
</header>
<section class="localStorage" ng-class="{true: 'show', false: 'hide' }[show]">
    <section class="small-12 songTop">
        <section class="songType">歌手分类</section>
    </section>
    <section class="small-12 hotSearch">
        <section class="hotSearchTitle">热门搜索</section>
        <section class="hotList">
            <a ng-repeat="x in hostSearch" ng-bind="x.songName" ng-click="searchSongId(x.songName)">
            </a>
        </section>
    </section>
    <section class="small-12 localStorageList">
        <section class="a" ng-repeat=" x in list" ng-if="x.name.length > 0 || x.name!=''">
            <a ng-click="searchSongId(x.name)">{{x.name}}</a>
            <span ng-click="removeList($index)"></span>
        </section>
    </section>
</section>
<section class="container searchChange" ng-class="{false: 'show', true: 'hide' }[show]">
    <section class="row">
        <ul class="tab tablist" ng-repeat=" x in songs">
            <li class="small-12 columns">
                <nobr><a ui-sref="playPage({id:x.id,name:x.name,searchName: searchName})">{{x.name}}</a></nobr>
                <span>{{x.artists[0].name}}</span>
            </li>
        </ul>
    </section>
</section>